---
import Link from '../components/link.astro';
---

<html lang="en">
	<head>
		<meta name="generator" content={Astro.generator} />
		<meta charset="utf-8">
		<link rel="icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="Experienced Frontend Engineer with passion for clean and elegant code, UX and details. Solution-oriented, pragmatic, engaged, and an empathetic, communicative team player.">
		<meta name="theme-color" content="#102733">
		<meta name="msapplication-navbutton-color" content="#102733">
		<link rel="apple-touch-icon" href="/logo192.png">
		<link rel="manifest" href="/manifest.json">
		<meta property="og:title" content="Pascal Weber – Frontend Software Engineer">
		<meta property="og:url" content="http://pascal-weber.ch">
		<meta property="og:description" content="Experienced Frontend Engineer, passionate for UX, quality and details.">
		<meta property="og:image" content="http://pascal-weber.ch/img/pascal-weber.png">
		<meta property="og:type" content="article">
		
		<title>Pascal Weber – Frontend Engineer</title>
	</head>
	<body>
		<Link url="/dev" label={'/ Dev'} />
		<Link url="/design" label={'/ Design'} />
	</body>
</html>
