---
import { designs } from "../../helpers/constants";
const { id } = Astro.params;
const current = designs[id] || Astro.props.current;
---
<div class="w-full flex flex-col">
    <h2>{current.title}</h2>
    <p>{current.client}</p>

    <img src={current.src.src} width={'100%'} height={'100%'} alt={current.title} />
</div>
